Trial runs with the PicoHarp 300:

1. 0.1% power at counter. 500 Hz modulation. 100s acquisition time. 
2. Background only. 100s acquisition time.

In [2]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd

### Laser Only

In [ ]:
file_path = "Data\ph300exportlaseronly.dat"
data = pd.read_csv(file_path, sep="\n")

data.head()

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\amine\AppData\Local\Temp\ipykernel_4764\3684715595.py:1: SyntaxWarning: invalid escape sequence '\p'
  file_path = "Data\ph300exportlaseronly.dat"

   9\t
0   18
1    7
2   13
3   16
4   15